services:
 django-web:
   build: .
   command: >
     sh -c "python manage.py collectstatic --noinput &&
            python manage.py migrate --noinput &&
            gunicorn --bind 0.0.0.0:8000 --workers 5 --threads 2 --timeout 30 --forwarded-allow-ips='*' qumud.wsgi:application"
   container_name: qumud
   volumes:
     - .:/app
     - static_volume:/app/staticfiles
   ports:
     - "8000:8000"
   environment:
     DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
     DEBUG: ${DJANGO_DEBUG}
     DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
     PG_ENGINE: django.db.backends.postgresql
     PG_DATABASE: ${POSTGRES_DB}
     PG_USER: ${POSTGRES_USER}
     PG_PASSWORD: ${POSTGRES_PASSWORD}
     PG_HOST: db
     PG_PORT: 5432
   env_file:
     - .env
   restart: unless-stopped

 nginx:
   image: nginx:stable-alpine
   ports:
     - "80:80"
     - "443:443"
   volumes:
     - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
     - static_volume:/app/staticfiles:ro
     - ${NGINX_CRT}:/etc/nginx/certs/server.crt:ro
     - ${NGINX_KEY}:/etc/nginx/certs/server.key:ro
     - /var/www/certbot:/var/www/certbot:ro
   environment:
     - NGINX_WORKERS=AUTO
   depends_on:
     - django-web
   restart: unless-stopped

 db:
   image: postgres:17-alpine
   shm_size: '256mb'
   ports:
     - "5433:5432"
   volumes:
     - postgres_data:/var/lib/postgresql/data
   environment:
     POSTGRES_DB: ${POSTGRES_DB}
     POSTGRES_USER: ${POSTGRES_USER}
     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
   restart: unless-stopped

volumes:
 static_volume:
 postgres_data: