{% extends base_template %}

{% block content %}
<div class="row g-2">
    <div class="col-sm-3 flex-sm-fill">
        <div id="stats-card" class="card h-100">
            <div class="card-header">
                <span>{{ character.name }} Stats</span>
            </div>
            <div class="card-body">
                <div class="row flex-nowrap gx-2 gx-md-3">

                    <div class="col-7 border-end border-secondary d-flex flex-column">
                        <form id="stat-allocator-form"
                              hx-post=""
                              hx-target="this"
                              hx-swap="outerHTML"
                              data-total-points="{{ character.stat_points }}">

                            <div class="d-flex justify-content-between align-items-center border-bottom border-secondary">
                                <div class="fw-bold pb-1 mb-2 text-nowrap">
                                    Points: {{ character.stat_points }}</div>
                                <button type="submit" class="border border-secondary pb-1 mb-2 text-white bg-black
                                                             btn-hover">Submit</button>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <div class="text-nowrap">Strength</div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                       invisible">-</button>
                                    </div>
                                    <div class="text-center fw-bold" style="width: 3rem;">
                                        <span>{{ character.str }}</span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                      {% if character.stat_points %} visible
                                                      {% else %} invisible
                                                      {% endif %}">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <div class="text-nowrap">Dexterity</div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                       invisible">-</button>
                                    </div>
                                    <div class="text-center fw-bold" style="width: 3rem;">
                                        <span>{{ character.dex }}</span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                      {% if character.stat_points %} visible
                                                      {% else %} invisible
                                                      {% endif %}">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <div class="text-nowrap">Intellect</div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                       invisible">-</button>
                                    </div>
                                    <div class="text-center fw-bold" style="width: 3rem;">
                                        <span>{{ character.int }}</span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                      {% if character.stat_points %} visible
                                                      {% else %} invisible
                                                      {% endif %}">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <div class="text-nowrap">Vitality</div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                       invisible">-</button>
                                    </div>
                                    <div class="text-center fw-bold" style="width: 3rem;">
                                        <span>{{ character.vit }}</span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                      {% if character.stat_points %} visible
                                                      {% else %} invisible
                                                      {% endif %}">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <div class="text-nowrap">Mind</div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                       invisible">-</button>
                                    </div>
                                    <div class="text-center fw-bold" style="width: 3rem;">
                                        <span>{{ character.mnd }}</span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="stat-minus border border-secondary text-white bg-black btn-hover
                                                      {% if character.stat_points %} visible
                                                      {% else %} invisible
                                                      {% endif %}">+</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-5 d-flex flex-column justify-content-around">

                        <div class="d-flex justify-content-between text-nowrap">
                            <div>Health</div>
                            <div>{{ character.max_health }}</div>
                        </div>

                        <div class="d-flex justify-content-between text-nowrap">
                            <div>Mana</div>
                            <div>{{ character.max_mana }}</div>
                        </div>

                        <div class="d-flex justify-content-between text-nowrap">
                            <div>Damage</div>
                            <div>{{ character.min_damage }}-{{ character.max_damage }}</div>
                        </div>

                        <div class="d-flex justify-content-between text-nowrap">
                            <div>Speed</div>
                            <div>{{ character.speed }}</div>
                        </div>

                        <div class="d-flex justify-content-between text-nowrap">
                            <div>Init</div>
                            <div>{{ character.initiative }}</div>
                        </div>

                        <div class="d-flex justify-content-between text-nowrap">
                            <div>Range</div>
                            <div>{{ character.attack_range }}</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 flex-sm-fill">
        <div id="equip-card" class="card h-100">
            <div class="card-header">
                <span>Equipment</span>
            </div>
            <div class="card-body">
                <div class="d-flex flex-column flex-grow-1">
                    <div>Head</div>
                    <div>Torso</div>
                    <div>Gloves</div>
                    <div>Boots</div>
                    <div>Amulet</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-7 flex-fill">
        <div id="inventory-card" class="card">
            <div class="card-header">
                <span>Inventory</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 d-flex justify-content-center align-items-center">
                        <div id="equip-window" class="d-flex flex-column p-3 border border-1 border-secondary">
                            <div class="text-info">Iron Longsword of Slaying</div>
                            <div>Damage: 2-5</div>
                            <div>Attack Speed: 1</div>
                            <div>Range: 1</div>
                            <div class="text-info">+1 dmg per enemy killed in battle</div>
                        </div>
                    </div>
                    <div hx-get="/"
                         hx-trigger="change"
                         hx-target="#equip-window"
                         hx-include="closest .card-body"
                         class="col-sm-3 d-flex align-content-start flex-fill flex-wrap">
                        {% for _ in "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" %}
                        <div class="mx-1">
                            <input type="radio"
                                   id="item-public_id_goes_here{{ forloop.counter }}"
                                   name="selected_id"
                                   value="public_id_goes_here{{ forloop.counter }}"
                                   class="custom-radio-radio"
                                   {% if forloop.first %}checked{% endif %}>
                            <label for="item-public_id_goes_here{{ forloop.counter }}" class="custom-radio-label">
                                <span class="display-value mx-2 py-2">+{{ forloop.counter }} Sword of Filler</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.body.addEventListener('click', function(event) {
    const statPlus = event.target.closest('.stat-plus');
    const statMinus = event.target.closest('.stat-minus');

    if (statPlus) {
        statPlus.classList.add('invisible');
        statPlus.classList.remove('visible');
    }

    if (statMinus) {
        statMinus.classList.add('invisible');
        statMinus.classList.remove('visible');
    }

});
</script>

{% endblock %}