{% extends base_template %}

{% block content %}
<div hx-get="{% url 'map' %}" hx-trigger="every 1s" hx-vals='{"trigger": "update"}' hx-swap="none"></div>
<button hx-get="{% url 'map' %}" hx-vals='{"trigger": "update"}' hx-swap="none">DEBUG</button>
<div class="container">
    <div class="row g-3 d-flex">
        <div class="col-md-7 col-lg-8 order-1 d-flex" style="height: 600px;">
            <div id="event-card" class="card w-100 d-flex flex-column">
                <div class="card-header d-flex justify-content-between">
                    <span>Event</span>
                </div>
                <div id="event-card-body" class="card-body d-flex flex-column minheight0">
                    <div id="event-card-swap" class="d-flex flex-column flex-grow-1 minheight0">
                        <div id="event-window-swap" class="event-graphic position-relative flex-shrink-0" style="min-height: 200px;">
                            {% for entity in event.entities %}
                            {{ entity.render_svg|safe }}
                            {% endfor %}
                        </div>

                        <div id="event-log-swap" class="scroll-window my-3 overflow-auto flex-grow-1 minheight0">
                            <div class="log-wrapper">
                                <div class="log-content">
                                    {% for log in event.log %}
                                    <div class="{{ log.htclass }}">{{ log.log }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="d-flex gap-2 justify-content-end mt-auto flex-shrink-0">
                            <button class="btn btn-sm btn-dark-outline px-4">Flee</button>
                            <button class="btn btn-sm btn-dark-outline px-4">Loot Item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-lg-8 order-4 order-md-3 d-flex">
            <div id="region-chat-card" class="card w-100 d-flex flex-column flex-grow-1">
                <div class="card-header">Region Chat</div>
                <div id="region-chat-card-body" class="card-body p-0 d-flex flex-column flex-grow-1 minheight0">
                    <div class="p-2 border-bottom border-secondary">
                        <form id="region-chat-form" style="display: contents;"
                              autocomplete="off"
                              hx-swap="none"
                              hx-on::after-request="this.reset()">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control form-control-sm bg-black text-white border-secondary"
                                       style="--bs-secondary-color: #555;"
                                       name="region-chat-msg"
                                       placeholder="Type a message...">
                                <button class="btn btn-sm btn-dark-outline"
                                        type="submit"
                                        hx-post='{% url "region_chat" %}'>Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="row g-0 flex-grow-1 minheight0">
                        <div class="col-9 d-flex flex-column flex-grow-1 minheight0">
                            <div class="scroll-window overflow-auto flex-grow-1" style="height: 300px;">
                                <div id="region-chat-swap">
                                {% for message in messages %}
                                    <div><span class="text-success">{{ message.user.alias }}:</span> {{ message.message }}</div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-3 d-flex flex-column minheight0">
                            <div class="player-list d-flex flex-column flex-grow-1 minheight0">
                                <div class="px-2 pt-2 pb-1 small border-bottom border-secondary mb-1">Online Players</div>
                                <div id="player-list-swap" class="list-group list-group-flush flex-grow-1 overflow-auto minheight0">
                                    {% for player in region_players %}
                                        <div class="list-group-item">{{ player.alias }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-4 order-2 d-flex" style="height: 600px;">
            <div id="status-card" class="card w-100 d-flex flex-column" hx-target="#status-card-body">
                <div class="card-header">Status</div>
                <div id="status-card-body" class="card-body d-flex flex-column flex-grow-1 minheight0">
                    <div id="status-card-swap" class="d-flex flex-column flex-grow-1 minheight0">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <span class="fw-bold">{{ character.name }}</span>
                            <span class="badge bg-secondary">Lvl {{  character.level }}</span>
                        </div>
                        <div class="progress mb-2 position-relative bg-black border border-white" style="min-height: 20px;">
                            <div class="progress-bar bg-danger"
                                 role="progressbar"
                                 style="width: {{ character_health_perc }}%;"
                                 aria-valuenow="{{ character.health }}"
                                 aria-valuemin="0"
                                 aria-valuemax="{{ character.max_health }}"></div>
                            <span class="justify-content-center d-flex position-absolute w-100 text-white text-shadow">
                                {{ character.health }} / {{ character.max_health }} HP</span>
                        </div>
                        <div class="progress mb-2 position-relative bg-black border border-white" style="min-height: 20px;">
                            <div class="progress-bar bg-info"
                                 role="progressbar"
                                 style="width: 100%;"
                                 aria-valuenow="100"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                            <span class="justify-content-center d-flex position-absolute w-100 text-white text-shadow">
                                100 / 100 MP</span>
                        </div>
                        <div class="scroll-window scroll-status overflow-auto d-flex flex-column flex-grow-1" style="height: 100px;">
                            <div class="row g-0">
                                <div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                    <div>Looted sword</div>
                                    <div>Won battle</div>
                                    <div>player leveled up! level 2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-4 order-3 order-md-4 d-flex">
            <div id="travel-card" class="card w-100 d-flex flex-column" hx-target="#travel-card-body">
                <div class="card-header">Travel</div>
                    <div id="travel-card-body" class="card-body d-flex flex-column flex-grow-1 minheight0">
                        <div class="small fw-bold">World: <span class="fw-light">{{ travel.world }}</span></div>
                        <div class="small fw-bold">Region: <span class="fw-light">{{ travel.region }} ({{ travel.region.get_biome_display }})</span></div>
                        <div class="small fw-bold mb-4">Current Location: <span class="fw-light">{{ travel.current_location }}</span></div>

                        <h6 class="small mb-2">Towns</h6>
                        <div class="d-flex flex-wrap gap-2 mb-4">
                        {% for town in travel.towns %}
                            {% if travel.current_location != town %}
                                <a class="btn btn-sm btn-dark-outline"
                                   hx-post='{% url "travel" %}'
                                   hx-vals='{"public_id": "{{ town.public_id }}"}'>
                                   {{ town.name }}
                                </a>
                            {% endif %}
                        {% endfor %}
                        </div>

                        <h6 class="small mb-2">Dungeons</h6>
                        <div class="d-flex flex-wrap gap-2">
                        {% for dungeon in travel.dungeons %}
                            {% if travel.current_location != dungeon %}
                                <a class="btn btn-sm btn-dark-outline"
                                   hx-post='{% url "travel" %}'
                                   hx-vals='{"public_id": "{{ dungeon.public_id }}"}'>
                                   {{ dungeon.name }} (lvl {{ dungeon.level }})
                                </a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
document.addEventListener('htmx:oobAfterSwap', (event) => {
    if (event.detail.target && event.detail.target.id === "event-log-swap") {
        const MAX_LOGS = 50;
        const container = event.detail.target;

        const logs = Array.from(container.querySelectorAll('.log-wrapper'));

        if (logs.length > MAX_LOGS) {
            const toPrune = logs.slice(MAX_LOGS);

            toPrune.forEach(el => {
                el.classList.add('log-pruning');

                setTimeout(() => {
                    if (el.parentNode) {
                        el.remove();
                    }
                }, 500);
            });
        }
    }
});
document.body.addEventListener('triggerDefeatAnimation', (event) => {
    const activeIds = event.detail.activeIds || [];
    const allSvgs = document.querySelectorAll('[id^="svg-"]');

    allSvgs.forEach(element => {
        if (!activeIds.includes(element.id)) {
            element.classList.add('defeat-animate');
            element.addEventListener('animationend', () => {
                element.remove();
            }, { once: true });
        }
    });
});
</script>
{% endblock %}