{% extends base_template %}

{% block content %}

<h3>World Selection</h3>

{% if world %}

<a class="btn btn-dark-outline mb-3"
   hx-target="#main-content"
   hx-get="{% url 'map' %}"
   hx-push-url="true">Continue to {{ world }}</a>

{% endif %}

<div id="world-create-form">
    <form hx-post="{% url 'world' %}"
          hx-target="#main-content"
          class="needs-validation">
          {% include "core/form_partial.html" with button_text="Join new world" %}
    </form>
</div>

{% endblock %}