<div id="event-card-swap" hx-swap-oob="true">
    <div class="event-graphic position-relative">
        <span class="text-muted italic">Graphic Placeholder</span>
        {% for enemy in event.enemies %}
        {{ enemy.template.svg|safe }}
        {% endfor %}
    </div>
    <div class="scroll-window mb-3" style="height: 250px; font-size: 0.85rem;">
        {% for enemy in event.enemies %}
        <div class="text-success">You encountered a lvl {{ enemy.level }} {{ enemy.name }}</div>
        {% endfor %}
        {% for player in event.players %}
        <div class="text-white">You encountered player {{ player.name }}</div>
        {% endfor %}
    </div>
</div>