<div id="event-card-swap" class="d-flex flex-column flex-grow-1 minheight0" hx-swap-oob="true">

    <div class="event-graphic position-relative flex-shrink-0" style="min-height: 200px;">
        <span class="text-muted italic">Graphic Placeholder</span>
        {% for enemy in event.enemies %}
        {{ enemy.template.svg|safe }}
        {% endfor %}
    </div>

    <div class="scroll-window my-3 overflow-auto flex-grow-1 minheight0">
        <div class="text-success">
            {% for enemy in event.enemies %}{{ enemy.level }} {{ enemy.name }}{% endfor %}
        </div>
        <div class="text-white">
            {% for player in event.players %} You encountered player {{ player.name }}{% endfor %}
        </div>
        {% for log in event.log %}
        <div class="text-danger">{{ log }}</div>
        {% endfor %}
    </div>

    <div class="d-flex gap-2 justify-content-end mt-auto flex-shrink-0">
        <button class="btn btn-sm btn-dark-outline px-4">Flee</button>
        <button class="btn btn-sm btn-dark-outline px-4">Loot Item</button>
    </div>
</div>